* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: none;
    color: rgb(65, 65, 65);
}

a{
    text-decoration: none;
    color: rgb(0, 64, 255);
}

p {
    
    font-weight: 400;
    font-size: 21px;
    line-height: calc(100% + 7.5px);
    letter-spacing: 0.5px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-weight: 600;
    font-size: 27px;
}

h3 {
    font-weight: 600;
    font-size: 21px;
}

button {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    background-color:rgb(65, 65, 65);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(41, 41, 41) 7.5px 7.5px;
    transition: top 500ms ease-out 0ms, left 500ms ease-out 0ms,box-shadow 500ms ease-out 0ms, background-color 500ms ease-out 0ms;
}

button:hover {
    top: 2.5px;
    left: 2.5px;
    background-color:rgb(70, 70, 70);
    box-shadow: rgb(41, 41, 41) 5px 5px;
}

img {
    width: 100%;
    height: auto;
}

header {
    padding: 5px 24px;
    height: calc(64px - 10px);
    width: calc(100% - 48px);
}

.SiteLogo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    min-width: 10%;
}

.logoTitle {
    flex: 1 0 85%;
    display: flex;
    align-items: center;
    height: 100%;
}

.logoIcon {
    flex: 1 0 15%;
    height: 100%;
    background-image: url(./images/ic-logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

.SiteLogo h1 {
    font-weight: normal;
    font-size: 32px;
}

.SiteLogo h1.grey {
    color: gray;
}

.SiteLogo h1.black {
    color: rgb(31, 31, 31);
}

nav {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    width: auto;
}

nav ul {
    height: auto;
    width: 100%;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 8px;    
    height: auto;
}

body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 32px 0;
    display: flex;
    height: auto;
    width: 100%;
}

#openingSection {
    background-color: rgb(196, 196, 196);
}

.sectionLeft {
    padding-left: 24px;
    height: auto;
    width: calc(60% - 24px);
}

.sectionLeft img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sectionRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-left: 48px;
    padding-right: 5%;
    width: calc(40% - 5%);
    background: none;
}

.sectionRight h1,
.sectionRight h2,
.sectionRight button{
    margin: 3.5% auto;
}

.sectionRight button{
    padding: 8px 0;
    width: 100%;
    font-size: 28px;
}

#secondSection .sectionRight {
    padding: 0;
    width: 40%;
}

.doesntHurt {
    padding: 32px 0;
}

.doesntHurt h1,
.doesntHurt p{
    margin-bottom: 24px;
}

.reelContainer { /*Fix margins from previous container - seperate section 1 and 2 */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(166, 166, 166);
}

.Reel {
    flex: 1 0 100%;
    display: flex;
    margin: 0.5% 0 0.5%;
    height: auto;
    background-color: white;
    border-top:  1px solid rgb(166, 166, 166);
    border-bottom:  1px solid rgb(166, 166, 166);
    transition: background-color 750ms ease-out 100ms;
}

.Reel:hover {
    background-color: rgb(180, 180, 180);
}

.Reel .thumbnail {
    flex: 1 0 calc(35% - 32px);
    padding: 16px;
    height: auto;
}

.Reel img {
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
}

.Reel .description {
    flex: 1 0 62%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column wrap;
    padding-left: 2.5%;
}

.Reel .description h3,
.Reel .description h4,
.Reel .description a{
    padding: 8px 0;
}
